/* CSS GLOBAL KOUST */

.span[data-number*="-"] { color:red; }


.negative { color:red }

.t-Form-fieldContainer--floatingLabel .t-Form-itemWrapper {
    align-items: stretch;
    width:25%;
}


.a-GV-table tr.is-selected .a-GV-cell {
  background-color: BlanchedAlmond;
}

.a-GV-table tr.is-selected .a-GV-cell:first-child {
  background-color: #FFBB44;
}

.a-GV-table .a-GV-cell.is-focused {
  box-shadow: none;
}

